@model ttcd02.Models.Product

<h2>Chi Tiết Sản Phẩm</h2>
<p><strong>Tên:</strong> @Model.Name</p>
<p><strong>Mô Tả:</strong> @Model.Description</p>
<p><strong>Giá:</strong> @Model.Price</p>
<p><strong>Số Lượng:</strong> @Model.Stock</p>

<a asp-action="Index">Trở Lại Danh Sách</a>
